body{
	margin: 0px;
}

header, footer{
	text-align: center;
	color: white;
	background-color: black;
	height: auto;
	width: auto;
}
h1, h2{
	margin: 0px;
	padding: 0px;
}
h1{
	font-size: 5rem;
	color: red;
}
h2{
	letter-spacing: 1rem;
	font-family: fantasy;
	font-style: italic;
	font-size: 1em;
}
ul{
	display: flex;
	list-style: none;
}
li{
	padding: em;
}
footer{
	font-size: 10%vh;
}
a{
	color: red;
}