body{
	margin: 0px;
}
header, footer{
	text-align: center;
	color: white;
	background-color: black;
	height: auto;
	width: auto;
}
h1, h2, #gradient, footer{
	margin: 0px;
	padding: 0px;
}
h1{
	font-size: 5rem;
	color: red;
}
h2{
	letter-spacing: 1rem;
	font-family: fantasy;
	font-style: italic;
	font-size: 1em;
}
.ht31, .ht32 {
	font: 900 1em 'Raleway', sans-serif;
    color: rgba(0,0,0,.5);
    text-align: center;
    text-transform: none;
    letter-spacing: 0.01em;
}
/*#gradient{
	background: linear-gradient(to right, red , yellow); 
	background-color: red;
}*/
.test{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
	/*text-align: center;*/
	height: 4rem;
}
footer{
	bottom: 0;
}
.footerText{
	font-size: 1rem;
	padding: 1rem;
	margin: 1rem;
}
#first, .listing{
  text-align: center;
  font-family: 'Oswald', Helvetica, sans-serif;
  letter-spacing: 4px;

  color: tomato;
}
/*.coolTitle{
  word-spacing: -8px;
  font-size: 40px;
  transform: skewY(-10deg);
  text-shadow: 
    -1px -1px 0 firebrick,
    -2px -2px 0 firebrick,
    -3px -3px 0 firebrick,
    -4px -4px 0 firebrick,
    -5px -5px 0 firebrick,
    -6px -6px 0 firebrick,
    -7px -7px 0 firebrick,
    -8px -8px 0 firebrick,
    -30px 20px 40px dimgrey;
}*/
.done {
  text-decoration: line-through;
}